body {
  background-color: lightblue;
}

h2 {
  color: navy;
  margin-left: 20px;
}

.find-create-container {
  width: 130px;
  height: 100px;
  padding: 5px;
}

#form1 {
  background-color:blue;
  width: 150px;
  height: 100px;
  padding: 10px;
  border: 5px solid black;
}
.title {
font-family: brush script mt
}

.details {

}

.column {
  float: right;
  width: 100%;
  margin: 20px;
}

.card {

  margin: auto;
  min-width: 20vw;
  max-width: 60%;
  min-height: 20vh;
  border-radius: 12px;
  box-shadow: 10px 10px 5px slateblue;
  background: grey;
  text-align: center;
  font-family: arial;
  padding: 7px;

}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.create-office {
  float: center;
  width: 45%;
  margin: 25px;
}
